@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Spice&family=Space+Mono&display=swap');

h1, h2, h3{
    font-family: 'Means Web', Arial, Helvetica, sans-serif;

}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, h3{
    color: red;
}

.big{
    font-size: 28px;
    font-family: 'Bungee Spice', cursive;
 
}

#first-p{
    font-family: 'Bungee Outline', cursive;
    font-size: 50px;
    font-weight: 400;

}

.green, h2{
    color: green;
}

div{
    background-color: rgb(0,0,0);
}

div h2{
    color:aquamarine;
}

.fabada{
    color: #FABADA;
}

.arial{
font-family: Arial, Helvetica, sans-serif;
}

#last-p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}